<div class="header">
    <h1>TechCrunch Scraper</h1>
</div>
<div class="container">


    <button id="getArticlesBtn">
        Get New Articles
    </button>
    <a href="/getSaved" id="getSavedBtn">
        Get Saved Articles
    </a>
    <div class="articleContainer d-flex flex-column">

    </div>
</div>

{{> scripts}}
  <script src="../javascripts/main.js"></script>