<div class="header">
    <h1>TechCrunch Scraper</h1>
</div>
<div class="container">
    <p>Welcome to the Tech Crunch Scraper</p>
    <button id="clearSavedBtn"> 
        Clear Saved Articles
    </button>

    <div class="savedArticleContainer">

    </div>
</div>

{{> scripts}}
<script src="../javascripts/saved.js"></script>