{
    "presets": [
        [ "@babel/env", { "loose": true } ],
        "@babel/react"
      ],
    "plugins": [     
            [ "babel-plugin-styled-components", {
                "transpileTemplateLiterals": true
            }]
    ]
}